
// IMPORTS
@import "variables";
@import "grid";
@import "forms";
@import "navigation";
@import "buttons";
@import "sections";

// TPOGRAPHY
h1, h2, h3, h4, h5 {
  font-family: $headingFont;
}

p {
  font-family: $bodyFont;
  line-height: 2;
}
li, ul, span {
  font-family: $bodyFont;
}
